/* Button */
.la-btn {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 50px;
    line-height: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.la-btn:not(.la-btn--link):not(.la-btn--outline) {
    background-color: #137D69;
    color: #fff;
}

.la-btn:not(.la-btn--link):focus,
.la-btn:not(.la-btn--link):hover {
    background-color: #0F6152;
    color: #fff;
}

.la-btn.la-btn--link {
    color: #137D69
}

.la-btn.la-btn--link:focus,
.la-btn.la-btn--link:hover {
    color: #0F6152
}

.la-btn--outline.la-btn {
    border: 2px solid #137D69;
    color: #137D69;
}

.langle-addon.la-btn-info .la-btn {
    background-color: #5bc0de;
}

.langle-addon.la-btn-success .la-btn {
    background-color: #5cb85c;
}

.langle-addon.la-btn-warning .la-btn {
    background-color: #f0ad4e;
}

.langle-addon.la-btn-danger .la-btn {
    background-color: #d9534f;
}

.langle-addon.la-btn-info .la-btn--outline.la-btn,
.langle-addon.la-btn-success .la-btn--outline.la-btn,
.langle-addon.la-btn-warning .la-btn--outline.la-btn,
.langle-addon.la-btn-danger .la-btn--outline.la-btn,
.langle-addon.la-btn-info .la-btn--link.la-btn,
.langle-addon.la-btn-success .la-btn--link.la-btn,
.langle-addon.la-btn-warning .la-btn--link.la-btn,
.langle-addon.la-btn-danger .la-btn--link.la-btn {
    background: transparent;
}
.langle-addon.la-btn-info .la-btn--outline.la-btn {
    border: 2px solid #5bc0de;
    color: #5bc0de;
}
.langle-addon.la-btn-info .la-btn--link.la-btn {
    color: #5bc0de;
}

.langle-addon.la-btn-success .la-btn--outline.la-btn {
    border: 2px solid #5cb85c;
    color: #5cb85c;
}
.langle-addon.la-btn-success .la-btn--link.la-btn {
    color: #5cb85c;
}
.langle-addon.la-btn-warning .la-btn--outline.la-btn {
    border: 2px solid #f0ad4e;
    color: #f0ad4e;
}
.langle-addon.la-btn-warning .la-btn--link.la-btn {
    color: #f0ad4e;
}
.langle-addon.la-btn-danger .la-btn--outline.la-btn {
    border: 2px solid #d9534f;
    color: #d9534f;
}
.langle-addon.la-btn-danger .la-btn--link.la-btn {
    color: #d9534f;
}
.la-btn.la-size-xs {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 50px;
}
/* .la-btn.la-size-sm {
    padding: 10px 20px;
} */
.la-btn.la-size-md {
    font-size: 16px;
    padding: 15px 30px;
}
.la-btn.la-size-lg {
    font-size: 18px;
    padding: 20px 40px;
}
.la-btn.la-size-xl {
    font-size: 20px;
    padding: 25px 50px;
}

.la-btn--link.la-btn {
    padding: 0;
}

.la-btn-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.la-btn-icon {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}
.la-btn .la-align-icon-right {
    margin-left: 5px;
    -webkit-box-ordinal-group: 16;
    -ms-flex-order: 15;
    order: 15;
}
.la-btn span {
    text-decoration: inherit;
}
.la-btn-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
    display: inline-block;
}


.la-btn-icon+.la-btn-text,
.la-btn-text+.la-btn-icon {
    margin-left: 5px
}

.la-btn-icon--svg {
    display: inline-block
}

.la-btn-icon--svg svg {
    width: auto;
    height: 1em;
    fill: currentColor
}


