.la-step-flow {
    --la-stepflow-direction-origin-x: calc(-1 * ((var(--la-stepflow-icon-size, 46px) / 2) + var(--la-stepflow-icon-padding, 40px) + var(--la-stepflow-direction-offset-x, 20px)))
}

.la-step-flow>.elementor-widget-container {
    padding: 25px;
    text-align: center
}

.la-step-arrow,
.la-step-arrow:after {
    position: absolute;
    display: inline-block;
    border-top: 1px solid #ddd
}

.la-step-arrow {
    top: 49%;
    left: calc(100% + 20px);
    width: 100px;
    -webkit-transform: rotate(var(--la-stepflow-direction-angle, 0));
    -ms-transform: rotate(var(--la-stepflow-direction-angle, 0));
    transform: rotate(var(--la-stepflow-direction-angle, 0));
    -webkit-transform-origin: var(--la-stepflow-direction-origin-x) center;
    -ms-transform-origin: var(--la-stepflow-direction-origin-x) center;
    transform-origin: var(--la-stepflow-direction-origin-x) center
}

.la-step-arrow:after {
    top: -2px;
    right: 5px;
    width: 12px;
    height: 12px;
    border-right: 1px solid #ddd;
    color: #ddd;
    content: "";
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%)
}

.la-steps-icon {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    padding: 40px;
    border-radius: 50%;
    background-color: #e9ecf0;
    color: #F9D781;
    text-align: center;
    font-size: 46px
}

.la-steps-icon i,
.la-steps-icon svg {
    position: relative;
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor
}

.la-steps-icon i:before {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.la-steps-icon .la-steps-label {
    position: absolute;
    top: 5px;
    right: 0;
    overflow: hidden;
    padding: 8px 10px;
    max-width: 200%;
    border: 3px solid #fff;
    border-radius: 20px;
    background-color: #137D69;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1
}

.la-steps-title {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2
}

.la-steps-title a {
    display: block;
    color: #137D69
}

.la-steps-title a:hover {
    color: #242424
}

.la-step-description {
    margin: 0;
    color: #616161;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5
}