.la-pricing-table>.elementor-widget-container {
    position: relative;
    overflow: hidden;
    padding: 3em 4em;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 40px rgba(36, 36, 36, .1);
    box-shadow: 0 3px 40px rgba(36, 36, 36, .1)
}

.la-pricing-table-badge {
    position: absolute;
    top: -1px;
    padding: .8rem 1rem;
    background-color: #137D69;
    color: #fff;
    line-height: 1
}

.la-pricing-table-badge--left {
    left: 0;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    -ms-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top
}

.la-pricing-table-badge--right {
    right: 0;
    -webkit-transform: rotate(-90deg) translateY(-100%);
    -ms-transform: rotate(-90deg) translateY(-100%);
    transform: rotate(-90deg) translateY(-100%);
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top
}

.la-pricing-table-title {
    margin-top: 0;
    margin-bottom: .5rem;
    color: #242424;
    font-weight: 400;
    font-size: 24px
}

.la-pricing-table-price {
    margin-bottom: 3rem
}

.la-pricing-table-price-tag {
    margin-bottom: .25px;
    color: #242424;
    font-weight: 700;
    font-size: 60px;
    line-height: normal
}

.la-pricing-table-currency {
    font-size: 24px
}

.la-pricing-table-period {
    color: #8c8c8c;
    font-size: 16px
}

.la-pricing-table-body {
    margin-bottom: 25px
}

.la-pricing-table-features-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 16px
}

.la-pricing-table-features-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.la-pricing-table-features-list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
    -ms-flex-align: baseline;
    margin-bottom: 1rem;
    font-size: 16px
}

.la-pricing-table-features-list li>i,
.la-pricing-table-features-list li>svg {
    margin-right: .5rem;
    min-width: 15px;
    text-align: center;
    font-size: .8em
}

.la-pricing-table-features-list li>svg {
    width: auto;
    height: 1em;
    fill: currentColor
}

.la-pricing-table-feature-text {
    display: inline-block
}

.la-pricing-table-btn {
    display: inline-block;
    padding: .8rem 2rem;
    border-radius: 40px;
    background-color: #137D69;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all .3s;
    transition: all .3s
}

.la-pricing-table-btn:hover {
    background-color: #0F6152;
    color: #fff
}