.la-cs-design-round .la-cs-switch.active span {
  color: #137d69;
}

.la-cs-design-round-2 .la-cs-switch.active span {
  color: #137d69;
}

.la-cs-design-square .la-cs-switch.active span {
  color: #137d69;
}

.la-cs-design-square-2 .la-cs-switch.active span {
  color: #137d69;
}

.la-cs-design-button .la-cs-switch-wrapper {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.la-cs-switch-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.la-content-switcher .la-content-switcher-wrapper[data-design-type="tabbed"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

/* main layout */
body[data-elementor-device-mode="none"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="none"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="widescreen"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="widescreen"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="desktop"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="desktop"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="laptop"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="laptop"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-layout--tablet-vertical .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-layout--tablet-vertical.la-cs-tab-align--tablet-left .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="mobile"] .la-content-switcher.la-cs-layout--mobile-vertical .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="mobile"] .la-content-switcher.la-cs-layout--mobile-vertical.la-cs-tab-align--mobile-left .la-content-switcher-wrapper[data-design-type="tabbed"] {
  flex-direction: row;
  column-gap: 20px;
}

body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-layout--tablet-vertical.la-cs-tab-align--tablet-center .la-content-switcher-wrapper[data-design-type="tabbed"],
body[data-elementor-device-mode="mobile"] .la-content-switcher.la-cs-layout--mobile-vertical.la-cs-tab-align--mobile-center .la-content-switcher-wrapper[data-design-type="tabbed"] {
  flex-direction: column;
}

/* button layout - verticle + left / right */
body[data-elementor-device-mode="none"] .la-content-switcher.la-cs-layout--vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper,
body[data-elementor-device-mode="widescreen"] .la-content-switcher.la-cs-layout--vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper,
body[data-elementor-device-mode="desktop"] .la-content-switcher.la-cs-layout--vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper,
body[data-elementor-device-mode="laptop"] .la-content-switcher.la-cs-layout--vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper,
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-layout--tablet-vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper,
body[data-elementor-device-mode="mobile"] .la-content-switcher.la-cs-layout--mobile-vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper {
  display: flex;
  flex-direction: column;
}

/* button layout - vertical + center */
body[data-elementor-device-mode="none"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--center .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper,
body[data-elementor-device-mode="widescreen"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--center .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper,
body[data-elementor-device-mode="desktop"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--center .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper,
body[data-elementor-device-mode="laptop"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--center .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper,
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-layout--tablet-vertical.la-cs-tab-align--tablet-center .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper,
body[data-elementor-device-mode="mobile"] .la-content-switcher.la-cs-layout--mobile-vertical.la-cs-tab-align--mobile-center .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper {
  display: inline-flex;
  flex-direction: row;
}

/* button layout - horizontal + left */
body[data-elementor-device-mode="none"] .la-content-switcher.la-cs-layout--horizontal.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="widescreen"] .la-content-switcher.la-cs-layout--horizontal.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="desktop"] .la-content-switcher.la-cs-layout--horizontal.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="laptop"] .la-content-switcher.la-cs-layout--horizontal.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-tab-align--tablet-left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-layout--horizontal.la-cs-tab-align--tablet-left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container {
  justify-content: flex-start;
}

/* button layout - horizontal + center */
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-tab-align--tablet-center .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-layout--horizontal.la-cs-tab-align--tablet-center .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container {
  justify-content: center;
}

/* button layout - horizontal + right */
body[data-elementor-device-mode="none"] .la-content-switcher.la-cs-layout--horizontal.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="widescreen"] .la-content-switcher.la-cs-layout--horizontal.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="desktop"] .la-content-switcher.la-cs-layout--horizontal.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="laptop"] .la-content-switcher.la-cs-layout--horizontal.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-tab-align--tablet-right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-layout--horizontal.la-cs-tab-align--tablet-right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container {
  justify-content: flex-end;
}

/* child item position */
body[data-elementor-device-mode="none"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="widescreen"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="desktop"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="laptop"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="mobile"] .la-content-switcher.la-cs-layout--mobile-vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="mobile"] .la-content-switcher.la-cs-layout--mobile-vertical.la-cs-tab-align--mobile-left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container {
  order: 5;
}


body[data-elementor-device-mode="none"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="widescreen"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="desktop"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="laptop"] .la-content-switcher.la-cs-layout--vertical.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-layout--tablet-vertical.la-cs-tab-align--tablet-right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container,
body[data-elementor-device-mode="mobile"] .la-content-switcher.la-cs-layout--mobile-vertical.la-cs-tab-align--mobile-right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container {
  order: 15;
}

body[data-elementor-device-mode="none"] .la-content-switcher.la-cs-layout--vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-content-container,
body[data-elementor-device-mode="widescreen"] .la-content-switcher.la-cs-layout--vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-content-container,
body[data-elementor-device-mode="desktop"] .la-content-switcher.la-cs-layout--vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-content-container,
body[data-elementor-device-mode="desktop"] .la-content-switcher.la-cs-layout--desktop-vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-content-container,
body[data-elementor-device-mode="laptop"] .la-content-switcher.la-cs-layout--laptop-vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-content-container,
body[data-elementor-device-mode="tablet"] .la-content-switcher.la-cs-layout--tablet-vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-content-container,
body[data-elementor-device-mode="mobile"] .la-content-switcher.la-cs-layout--mobile-vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-content-container {
  order: 10;
}

.la-cs-layout--vertical.la-cs-tab-align--left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper>*,
.la-cs-layout--vertical.la-cs-tab-align--mobile-left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper>*,
.la-cs-layout--vertical.la-cs-tab-align--right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper>*,
.la-cs-layout--vertical.la-cs-tab-align--mobile-right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper>*,

.la-cs-layout--tablet-vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper>*,
.la-cs-layout--tablet-vertical.la-cs-tab-align--tablet-left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper>*,
.la-cs-layout--tablet-vertical.la-cs-tab-align--tablet-right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper>*,

.la-cs-layout--mobile-vertical .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper>*,
.la-cs-layout--mobile-vertical.la-cs-tab-align--mobile-left .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper>*,
.la-cs-layout--mobile-vertical.la-cs-tab-align--mobile-right .la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-wrapper>* {
  width: 100%;
  margin: 0 !important;
}


.la-cs-switch-wrapper,
.la-cs-switch-wrapper .la-cs-button,
.la-cs-switch-wrapper .la-cs-switch {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.la-cs-switch-wrapper {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.la-cs-switch-wrapper .la-cs-button,
.la-cs-switch-wrapper .la-cs-switch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.la-cs-switch-wrapper .la-cs-button span,
.la-cs-switch-wrapper .la-cs-switch {
  font-weight: 700;
  font-size: 16px;
  padding: 0px;
  font-family: "Nunito", Sans-serif;
}

.la-cs-switch-wrapper .la-cs-switch.primary {
  margin-right: 10px;
}

.la-cs-switch-wrapper .la-cs-switch.secondary {
  margin-left: 10px;
}

.la-cs-switch-wrapper .la-cs-switch.active {
  color: #137d69;
}

.la-cs-switch-wrapper .la-cs-button {
  border: 0;
  background-color: #FFF;
  color: #137d69;
}

.la-cs-switch-wrapper .la-cs-button.active {
  background-color: #137d69;
  color: #FFF;
}

.la-cs-switch-wrapper .la-cs-button span {
  white-space: normal;
  font-weight: 700;
  font-size: 14px;
  font-family: "Nunito", Sans-serif;
  line-height: 1;
  padding: 8px 12px;
}

.la-cs-switch-wrapper .la-cs-button:not(:last-of-type) {
  margin-right: 10px;
}

.la-cs-switch-wrapper .la-cs-button:focus {
  outline: 0;
  background-color: #137d69;
  color: #fff;
}

.la-cs-switch-wrapper .la-cs-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 1em;
  height: 1em;
}

.la-cs-switch-wrapper .la-cs-icon-left .la-cs-icon-wrapper {
  margin-right: 10px;
}

.la-cs-switch-wrapper .la-cs-icon-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.la-cs-switch-wrapper .la-cs-icon-right .la-cs-icon-wrapper {
  margin-left: 10px;
}

.la-input-label {
  position: relative;
  display: inline-block;
  margin: unset;
  width: 5em;
  height: 2.5em;
}

.la-input-label .la-cs-slider,
.la-input-label .la-cs-slider:before {
  position: absolute;
  border-width: 0;
  border-style: solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.la-input-label .la-cs-slider {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  cursor: pointer;
}

.la-input-label .la-cs-slider:before {
  bottom: 0.25em;
  left: 0.2em;
  width: 2em;
  height: 2em;
  background-color: #fff;
  content: "";
}

.la-input-label .la-cs-slider.la-cs-square {
  border-radius: 0;
  background-color: #137d69;
}

.la-input-label .la-cs-slider.la-cs-square:before {
  border-radius: 0;
  background-color: #f9d781;
}

.la-input-label .la-cs-slider.la-cs-round {
  border-radius: 2em;
  background-color: #137d69;
}

.la-input-label .la-cs-slider.la-cs-round:before {
  border-radius: 50%;
  background-color: #fff;
}

.la-input-label .la-cs-slider.la-cs-round-2,
.la-input-label .la-cs-slider.la-cs-square-2 {
  top: 50%;
  height: 1em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.la-input-label .la-cs-slider.la-cs-round-2 {
  border-radius: 2em;
  background-color: #f9d781;
}

.la-input-label .la-cs-slider.la-cs-round-2:before {
  bottom: -50%;
  left: -0.1em;
  border-radius: 50%;
  background-color: #137d69;
}

.la-input-label .la-cs-slider.la-cs-square-2 {
  border-radius: 0;
  background-color: #ffec6b;
}

.la-input-label .la-cs-slider.la-cs-square-2:before {
  bottom: -50%;
  left: -0.1em;
  border-radius: 0;
  background-color: #137d69;
}

.la-input-label input {
  width: 0;
  height: 0;
  opacity: 0;
}

.la-input-label input:checked+.la-cs-round:before,
.la-input-label input:checked+.la-cs-square:before {
  left: 0.8em;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.la-input-label input:checked+.la-cs-round-2:before,
.la-input-label input:checked+.la-cs-square-2:before {
  left: 1.1em;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.la-input-label input:focus+.la-cs-round,
.la-input-label input:focus+.la-cs-round-2,
.la-input-label input:focus+.la-cs-square,
.la-input-label input:focus+.la-cs-square-2 {
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

.la-cs-content-container .la-cs-content-wrapper .la-cs-content-section {
  font-weight: 600;
  font-family: "Nunito", Sans-serif;
}

.la-cs-content-container .la-cs-content-wrapper .la-cs-content-section:not(.active) {
  display: none;
}

.la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-switch-container {
  background-color: #f0f0f0;
}

.la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-button {
  border-radius: 0;
}

.la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-button.active {
  background-color: #ffffff;
}

.la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-button.active span {
  color: #0E0E0E;
}

.la-content-switcher-wrapper[data-design-type="tabbed"] .la-cs-button:not(.active) {
  background-color: transparent;
}

.la-content-switcher-wrapper[data-design-type="tabbed"] .se-cs-button:not(.active) span {
  color: #414141;
}